.banner-two .progress-box .bar-legend {
  font-size: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.buy-section {
  display: none;
}


#form-box-buy {
  position: relative;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#form-box-buy input {
  background: none;
  border-width: 1px;
  border-radius: 10px;
}

.dark-view #form-box-buy input {
  background: none;
  color: #ffffff;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
#form-box-buy .field-inner span {
  display: flex;
  justify-items: start;
}

#form-box-buy .btn-style-three {
  width: 100%;
}

.price-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}

form .row .form-group {
  margin-bottom: 10px;
}

.banner-two .vid-btn {
  top: 5px;
}

.agreement-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}

.agreement {
  margin-right: 5px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.my-checkbox {
  transform: scale(2);
  margin-right: 11px;
}