@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

.block-title {
  @apply text-primaryText text-3xl font-bold tracking-normal;
}
.block-big-title {
  @apply text-primaryText text-4xl xl:text-5xl font-bold tracking-normal;
}
.block-subtitle {
  @apply text-xs text-secondaryColor  tracking-wider font-bold uppercase;
}
.content-title {
  @apply text-primaryText text-lg font-bold tracking-normal;
}
.content-text-white {
  @apply text-primaryText text-base leading-relaxed;
}
.content-text-gray {
  @apply text-gray-400 text-base;
}

/* Borders */

.main-border-gray {
  @apply border border-solid border-mainBorder;
}
.main-border-gray-darker {
  @apply border border-solid border-mainBorderDarker;
}

/* Buttons */
@layer components {
  .contained-button {
    border-radius: 0.5rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--primary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .outlined-button {
    @apply text-primaryText main-border-gray rounded-xl bg-bgDark2 hover:bg-bgDark3 border-gray-700 text-sm;
  }
}

@layer utilities {
  .hover\:bg-primaryHover:hover {
    background-color: rgb(0, 112, 188); /* Define the hover color */
  }
}

@font-face {
  font-display: var(--fontsource-Inter-font-display, optional);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}
